<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drillandblast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProjectListActivity"
            android:label="@string/projectList"></activity>
        <activity
            android:name=".activity.ProjectActivity"
            android:label="@string/projectActivity"
            android:parentActivityName=".activity.ProjectListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProjectListActivity" />
        </activity>
        <activity
            android:name=".activity.GridActivity"
            android:label="@string/gridActivity"
            android:parentActivityName=".activity.DrillLogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DrillLogActivity" />
        </activity>
        <activity
            android:name=".activity.ManagerGridActivity"
            android:label="@string/managerGridActivity"
            android:parentActivityName=".activity.DrillLogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DrillLogActivity" />
        </activity>
        <activity
            android:name=".activity.DrillLogListActivity"
            android:label="@string/drillList"
            android:parentActivityName=".activity.ProjectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProjectActivity" />
        </activity>
        <activity
            android:name=".activity.DailyListActivity"
            android:label="@string/dailyLogList"
            android:parentActivityName=".activity.ProjectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProjectActivity" />
        </activity>
        <activity
            android:name=".activity.DailyLogActivity"
            android:label="@string/dailyList"
            android:parentActivityName=".activity.DailyListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DailyListActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.ProjectListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProjectListActivity" />
        </activity>
        <activity
            android:name=".activity.DrillLogActivity"
            android:label="@string/drillLog"
            android:parentActivityName=".activity.DrillLogListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DrillLogListActivity" />
        </activity>
        <activity
            android:name=".activity.GridCoordinateActivity"
            android:label="@string/drillInfo"
            android:parentActivityName=".activity.GridActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.GridActivity" />
        </activity>

        <service
            android:name=".sync.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service android:name=".sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name=".sync.DrillProvider"
            android:authorities="com.drillandblast.sync"
            android:exported="false"
            android:syncable="true" />

        <receiver android:name=".http.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.SignatureActivity"></activity>
    </application>

</manifest>
